
.navbar{
  background-color: rgb(246, 244, 244);
}

.me-auto{
  margin-left: 200px;
}
.inscription{
  margin-left: 30px;
  background-color: darkorange;
  border-radius: 10px;
}

.coleur:hover{
  background-color: darkorange;
  border-radius: 15px;
  color: white;
}
.video{
  width: 100%;
}
.texte{
   margin-top: 15px;
    font-size: 32px;
    font-family: "Poppins";
    color: rgb(18, 53, 86);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;   
}
.texte2{
    font-style: italic;
    font-family: "MeowScript";
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.border1{
  
  background-color: #073d6a;
  border-color: rgb(0, 36, 125);
  border-style: solid;
  width: 70px;
  margin-left: 600px;
}
.parti2{
  margin-top: 40px;
  padding: 50px;
  background-color: #073d6a;
  width: 70%;
}
.paragraphe{
    margin-left: 100px;
    font-size: 19px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
}
.Mot_du {
  margin-left: 100px;
  font-size: 22px;
  font-family: "Oswald";
  color: rgb(255, 255, 255);
}
.image3{
  width: 300px;
  margin-left: 880px;
  position: absolute;
  margin-top: -340px;

}
.image2{
  margin-left: 890px;
  width: 300px;
  position: absolute;
  margin-top: -340px;
}
.test{
  background-color: #f1c40f;
  color:#ffffff;
}
.notre_charte{
 
    
    font-family: "Montserrat";
    color: rgb(7, 61, 106);
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}

.imageL{
  
margin-left: 450px;
position: absolute;
margin-top: -75px;


}
.imageR{
margin-left: 795px;
position: absolute;
margin-top: -75px;

}
.image4{
  width: 100%;
}



